@import '~bootstrap/scss/bootstrap';

main {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-nav{
    margin: 0 100px;

    .navbar-logo{
        height: 100%;
        a{
            font-size: 2rem;
        img{
            width: 2rem;
            margin-bottom: 0.5rem;
        }
    }
    }

}

.navbar-links{
    a{
        text-decoration: none;
        font-size: 1.5rem;
        color: gray;

        &:hover{
            color: black;
        }
    }
}

.table {
    margin: 50px 0;
    width: 100%;
}


.footer-links {
    h6{
        color: black;
        img{
            width: 30px;
        }
    }
}

.copyright {
    a{
        color: black;
        text-decoration: none;
    }
}

.bean{
    width: 20px;
}
